@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;500;700&family=Rubik:wght@300;400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --body-color: #516171;
  --header-color: #092032;
  --btn-color: #fd731d;
  --big-heading: 72px;
  --medium-heading: 48px;
  --small-heading: 32px;
  --mini-heading: 22px;
  --box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  color: var(--body-color);
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--header-color);
}

.big-heading {
  font-size: var(--big-heading);
  line-height: 1.5;
  font-weight: 700;
}
.medium-heading {
  font-size: var(--medium-heading);
  line-height: 1.2;
}
.small-heading {
  font-size: var(--small-heading);
}
.mini-heading {
  font-size: var(--mini-heading);
  font-weight: 400;
}
.hd-font--weight {
  font-weight: 600;
}
.btn {
  font-size: 1.8rem;
  font-weight: 500;
  color: inherit;
  padding: 8px 16px;
  /* border-radius: 50px; */
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}

/*///////////////////////////////////////////////////////////////////// */
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.align-center {
  align-items: center;
}
.align-right {
  align-items: right;
}
.align-right {
  align-items: left;
}
.justify-content--between {
  justify-content: space-between;
}
.justify-content--center {
  justify-content: center;
}

.flex {
  display: flex;
  gap: 1.4rem;
}
/*/ ///////////////////////////////////////////////////////////// */
/* Navbar */
.navbar {
  box-shadow: var(--box-shadow);
  font-weight: 400;
  border-bottom: 4px solid var(--btn-color);
}

.nav-item {
  margin-right: 2.4rem;
}
.nav-item:last-child {
  margin-right: 0px;
}

.nav-item button {
  border: none;
  background-color: transparent;
  margin-top: 6px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link .active {
  color: var(--btn-color);
}

.navbar-brand {
  font-size: 2.4rem;
  font-weight: 700;
}

/* hero section */
.btn-brand {
  background: var(--btn-color);
  color: #fff;
  border: none;
}
.btn-brand:hover {
  background: linear-gradient(90deg, #fd731d 0%, #fcb045 100%);
  color: #fff;
}
.btn--outline {
  border: 1px solid #ffffff;
  margin-left: 1.8rem;
  color: #fff;
}
.btn--outline:hover {
  background-color: #fff;
  color: var(--btn-color);
}

.hero-slides-container .bg-property {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero--slide1 {
  background: linear-gradient(
      180deg,
      rgba(41, 50, 61, 0.5) 0%,
      rgba(73, 86, 101, 0.5) 100%
    ),
    url(../img/ladyengr.jpg) no-repeat center center / cover;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.hero1--content {
  width: 50%;
}
.hero--slide2 {
  background: linear-gradient(
      180deg,
      rgba(41, 50, 61, 0.3) 0%,
      rgba(73, 86, 101, 0.4) 100%
    ),
    url(../img/building.jpg) no-repeat center center / cover;
}
.hero-slides-container .owl-dots {
  display: none;
}
/* slide btn /////////////////////////////////////////////*/
#hero-slider.owl-carousel .owl-nav button.owl-next,
#hero-slider.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;

  transform: translate(-50%, -50%);
  display: grid;
  width: 5.2rem;
  height: 5.2rem;
  place-items: center;
  background-color: hsla(0, 100%, 100%, 0.2) !important;
  font-size: 2rem;
  font-weight: 700 !important;
  border-radius: 50%;
  color: #fff !important ;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 50px;
}
#hero-slider.owl-carousel .owl-nav button.owl-next:hover,
#hero-slider.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #fd731d8e !important;
}
.hero2--content p {
  font-size: 2.2rem;
}

/* /////////////////////////////////////////// */
.feature {
  padding: 12rem 0;
  background: #f9fdff;
}
.feature h4 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
h5 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}
.feature p {
  font-size: 1.4rem;

  padding-right: 1.3rem;
  color: #818080;
}

.b-icon {
  font-size: 3.6rem;
  font-weight: 600;
  background: -webkit-linear-gradient(90deg, #e95a02 0%, #ffbe62 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-mn {
  margin-bottom: 3.2rem;
}
.info {
  box-shadow: 0px 0px 24px 4px rgba(19, 20, 21, 0.032);
  padding: 18px;
}
.info .feature--info-head {
  /* color: royalblue; */
  text-shadow: 2px 4px 4px rgba(19, 20, 21, 0.047);
}
.info-3-items {
  margin-bottom: 1.2rem;
}
.info-3 .img-box {
  width: 18rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 3px;
}

.info-3--text h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.info-3--text p {
  font-size: 1.3rem;
  padding: 0;
  color: #969696;
}
.info-text a {
  color: var(--header-color);
}
.info-text a:hover {
  text-decoration: underline;
}

/* /////////////////////////////// */
.about {
  margin-bottom: 7rem;
  padding-top: 5rem;
}

.about-info {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 2.4rem;
}
.about-info:last-child {
  margin-bottom: 0;
}
.about-info img {
  width: 12rem;
  height: 12rem;
}
.about-img {
  width: 50rem !important;
  margin-left: 4.2rem;
}

.about-info h5 {
  font-size: 2.2rem;
}

/* Milestone */
.milestone {
  background: linear-gradient(
      180deg,
      rgba(253, 115, 29, 0.8) 0%,
      rgba(249, 111, 25, 0.8) 100%
    ),
    url(../img/drawing.jpeg) no-repeat center center / cover;

  height: 20rem;
  margin-bottom: 12rem;
}

.milestone p {
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
}

/* services */
.intro {
  margin-bottom: 4.2rem;
}
.intro h5 {
  font-weight: 400;
  color: var(--btn-color);
}
.intro h1 {
  font-weight: 600;
}
.intro p {
  width: 50rem;
  margin: auto;
}
.service-item {
  padding: 3.2rem;
  text-align: center;
  box-shadow: 0px 0px 18px 10px rgba(19, 20, 42, 0.092);
  margin: 18px;
  transition: all 0.3s ease;
}
.service-item:hover {
  transform: translateY(-20px);
}
.service-item img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2rem;
}

.service-item img::after {
  content: "";
  position: absolute;
  height: 11rem;
  width: 11rem;
  left: 0;
  top: 0;
  background-color: #e95a02;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-item h4 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #092032;
  margin-bottom: 1.2rem;
}

.service-item h6 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--btn-color);
  margin-bottom: 1rem;
}

.service-item a {
  font-size: 2rem;
  color: #818080 !important;
  display: inline-block;
  margin-right: 1.2rem !important;
}
.service-item a:hover {
  color: #e95a02 !important;
}

/* projects */

#projects {
  margin: 12rem 0;
  background-color: #f9fdff;
  padding: 4rem 0;
}
.project img {
  height: 40rem;
}

#projects .owl-carousel .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
}
#projects .owl-carousel .owl-nav button.owl-next,
#projects .owl-carousel .owl-nav button.owl-prev {
  /* background-color: #e95a02 !important; */
  width: 3rem;
  height: 3rem;
  color: #fff !important;
  font-size: 3rem;
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project {
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 24rem;
  background: linear-gradient(
    to bottom,
    rgba(9, 32, 50, 0) 0%,
    rgba(9, 32, 50) 100%
  );
}
.project .project--content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 3.2rem;
}

.project--content h1 {
  font-size: 3.2rem;
  margin-bottom: 12px;
  font-weight: 600;
}
.project--content p {
  font-size: 2rem;
  font-weight: 300;
}

/* //////////////////////////////////////////////// */
#question {
  margin: 12rem 0;
}
#question h1 {
  text-transform: uppercase !important;
}
.accordion-item h2 {
  text-transform: capitalize;
}
#question .accordion-item button {
  text-transform: capitalize !important;
  font-size: 2rem !important;
  font-weight: 500 !important;
}
#question .accordion-item .accordion-body {
  font-size: 1.6rem !important;
}

/* ////////////////////////// */
#reviews {
  padding: 4rem 0;
  background: linear-gradient(
      180deg,
      rgba(41, 50, 61, 0.89) 0%,
      rgba(73, 86, 101, 0.89) 100%
    ),
    url(../img/engrs.jpg) no-repeat center center / cover;
  color: #ffffff !important;
}
.review {
  width: 80rem;
  color: #ffffff;
  margin: auto;
  text-align: center;
}
.review--head {
  font-size: 3.2rem;
  font-weight: 500 !important;
  text-transform: uppercase;
  color: #fd731d !important;
}

.review small {
  font-size: 1.8rem;
  color: #fd731d;
}
.review .review-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.review h4 {
  font-size: 3.2rem;
  color: #ffffff !important;
}
.review p {
  font-size: 1.8rem !important;
}

#reviews .owl-dots .owl-dot {
  background: transparent !important;
}
#reviews .owl-dots .owl-dot.active span {
  background-color: #fd731d;
}

/* //////////////////////// */
#solutions {
  padding: 12rem 0;

  background-color: #f9fdff;
}
#solutions .intro {
  margin-bottom: 6rem;
}
#solutions .solution--head {
  font-size: var(--medium-heading);
  text-transform: capitalize;
}
#solutions .fam {
  color: #fd731d;
  font-size: var(--medium-heading);
  text-transform: capitalize;
  display: inline-block;
  position: relative;
}
#solutions .fam::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20%;
  vertical-align: center;
  width: 6rem;
  height: 2px;
  background-color: #092032;
}
#solutions .grid {
  gap: 6.2rem;
}
#solutions .right-grid h3 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #818080;
  margin-bottom: 2rem;
}

.right-item i {
  font-size: 2.2rem;
  color: #bcf9ea;
}

.right-item {
  margin-top: 1rem;
}
.right-item span {
  font-size: 1.8rem;
}

#footer {
  padding: 8rem 0;
  background-color: #333;
  border-top: 6px solid #fd731d;
}
#footer .grid {
  grid-template-columns: 2fr 1fr 1fr;
}
#footer img {
  width: 5.2rem;
  height: 5.2rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}
#footer h5 {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
#footer a {
  color: #fff !important;
  font-size: 2.4rem;
}
#footer p {
  font-size: 2rem;
  text-transform: capitalize;
}
/* /////////////////////////// */

@media (max-width: 1070px) {
  .hero--slide1 .medium-heading {
    font-size: 4rem !important;
  }
}

@media (max-width: 860px) {
  .feature-mn {
    margin-bottom: 8rem;
  }
  .about-img {
    margin: 3.2rem 0 3.2rem 0 !important;
    width: 100% !important;
  }
  .milestone {
    height: auto;
  }
  .feature-info.grid {
    grid-template-columns: 1fr 1fr;
  }
  .intro h5 {
    margin-bottom: 1.4rem;
  }
  .intro p {
    margin: 1.5rem 0;
  }
}

@media (max-width: 768px) {
  .hero1--content {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .hero--slide1 .medium-heading {
    font-size: 3.2rem !important;
    line-height: 1.4;
    padding: 1.8rem 0;
  }
  .hero--slide1 p {
    font-size: 2.2rem;
  }
  .about-info img {
    width: 10rem;
    height: 10rem;
  }
  .milestone .big-heading {
    font-size: 3.2rem !important;
  }
  .intro .medium-heading {
    font-size: 3.6rem;
  }
  .service-item {
    padding: 2rem;
  }
  #question .medium-heading {
    font-size: 3.6rem;
  }
  .review {
    width: 60rem;
  }
  #solutions .grid {
    grid-template-columns: 1fr;
  }
  .solution--head {
    font-size: 3.6rem !important;
  }
}

@media (max-width: 519px) {
  .feature-info.grid {
    grid-template-columns: 1fr;
  }
  .feature-mn.grid {
    grid-template-columns: 1fr;
    gap: 3.2rem;
    padding: 0 1.5rem;
  }
  .feature--info-head {
    font-size: 2.5rem !important;
  }
  .info-3-items {
    margin-bottom: 2.4rem;
  }
  .info-3-items:last-child {
    margin: 0;
  }
  .info-3 .img-box {
    height: 10rem;
  }
  .review {
    width: 45rem;
  }
  .review--head {
    font-size: 2.8rem;
  }
  #question .medium-heading {
    font-size: 2.4rem;
  }
  #question .accordion-item button {
    font-size: 1.6rem !important;
  }
  #solutions .right-grid {
    margin-left: 2rem;
  }
  #solutions .right-grid h3 {
    font-size: 1.8rem;
    padding-right: 3.2rem;
    line-height: 1.6;
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  .hero--slide1 p {
    margin-bottom: 2rem;
  }
  .about-info h5 {
    font-size: 1.8rem;
  }
  .intro p {
    width: 100%;
    padding: 2rem;
  }
  #question .medium-heading {
    font-size: 2rem;
  }
  .review--head {
    font-size: 2.4rem;
  }
  .review {
    width: 90%;
    margin: auto;
  }
  .intro h1 {
    font-size: 2.6rem !important;
    padding: 0 1.5rem;
  }
  #solutions .fam {
    font-size: 3.2rem;
  }
  #solutions .fam::before {
    display: none;
  }
  #footer .grid {
    grid-template-columns: 1fr 1fr;
  }
}
